@model AutoSales.Models.UserModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>*@
       @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstRegistered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstRegistered)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdUser  }) 
</div>
